In [1]:
import pandas as pd
import numpy as np

In [2]:
data = [10,20,30,40,50]
sr = pd.Series(data, index=['a','b','c','d','e'],name='kor')
sr

a    10
b    20
c    30
d    40
e    50
Name: kor, dtype: int64

In [ ]:
#산술연산(+,-,*,/,%,//,**)
#관계연산(>,>=,<.<=,==,!=), 
#논리연산( and(&), or(|), not(~) )
# element wise(요소별연산)

In [3]:
sr+1

a    11
b    21
c    31
d    41
e    51
Name: kor, dtype: int64

In [5]:
sr-2

a     8
b    18
c    28
d    38
e    48
Name: kor, dtype: int64

In [6]:
sr*2

a     20
b     40
c     60
d     80
e    100
Name: kor, dtype: int64

In [7]:
sr[0::2] #0,2,4

a    10
c    30
e    50
Name: kor, dtype: int64

In [8]:
#복수개의 인덱스를 선택
sr[ [0,1,4] ]

a    10
b    20
e    50
Name: kor, dtype: int64

In [9]:
#booean indexing
sr[ [True,True,False,False,True] ]

a    10
b    20
e    50
Name: kor, dtype: int64

In [10]:
sr>=30

a    False
b    False
c     True
d     True
e     True
Name: kor, dtype: bool

In [11]:
#필터
sr[ sr>=30 ] # sr[[False,False,True,True,True]]

c    30
d    40
e    50
Name: kor, dtype: int64

In [12]:
sr[ sr!=20 ]

a    10
c    30
d    40
e    50
Name: kor, dtype: int64

In [14]:
#논리연산( and(&), or(|), not(~) )
sr[ (sr==30) | (sr==50) ]

c    30
e    50
Name: kor, dtype: int64

In [16]:
sr[ (sr>=20) & (sr<=40) ] #모두 True

b    20
c    30
d    40
Name: kor, dtype: int64

In [17]:
sr[ ~( (sr>=20) & (sr<=40) ) ]

a    10
e    50
Name: kor, dtype: int64

In [18]:
#문제 세금3.3을 제한 실수령액을 구하시요
salary = pd.Series([1000,2000,3000,4000])
salary

0    1000
1    2000
2    3000
3    4000
dtype: int64

In [20]:
1-0.033

0.967

In [19]:
salary*(1-0.033)

0     967.0
1    1934.0
2    2901.0
3    3868.0
dtype: float64

In [21]:
#sr데이터에서 20과 50 데이터를 선택하시요.
sr[ (sr==20) | (sr==50) ]

b    20
e    50
Name: kor, dtype: int64

In [23]:
sr[ sr.isin([20,50]) ]

b    20
e    50
Name: kor, dtype: int64

In [27]:
sr[ sr.index=='a' ]

a    10
Name: kor, dtype: int64

In [4]:
sr

a    10
b    20
c    30
d    40
e    50
Name: kor, dtype: int64