In [1]:
import pandas as pd
import numpy as np

In [2]:
data =  {'eng':[10,30,50,70],
         'kor':[20,40,60,80],
         'math':[90,50,20,70]}
df = pd.DataFrame(data,index=['a','b','c','d'])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

In [3]:
df.ndim #몇차원

2

In [4]:
df.shape #몇행, 몇열

(4, 3)

In [6]:
df.size #행X열

12

In [7]:
len(df) #행의 갯수

4

In [8]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [10]:
df.columns

Index(['eng', 'kor', 'math'], dtype='object')

In [11]:
df.values

array([[10, 20, 90],
       [30, 40, 50],
       [50, 60, 20],
       [70, 80, 70]], dtype=int64)

In [12]:
df.dtypes

eng     int64
kor     int64
math    int64
dtype: object

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eng     4 non-null      int64
 1   kor     4 non-null      int64
 2   math    4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

In [14]:
df.T

       a   b   c   d
eng   10  30  50  70
kor   20  40  60  80
math  90  50  20  70

In [9]:
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70