In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
from datetime import datetime
matplotlib.rcParams["font.family"]="Malgun Gothic"
matplotlib.rcParams["axes.unicode_minus"]= False

In [4]:
dt = datetime(2020,9,1,11,10,12)
dt

datetime.datetime(2020, 9, 1, 11, 10, 12)

In [5]:
print(dt.year, dt.month, dt.day, dt.hour, dt.minute, dt.second)

2020 9 1 11 10 12

In [18]:
data = [{'이름':'홍길동','나이':20,'생일':'1999-10-10'},
        {'이름':'이순신','나이':30,'생일':'1989-03-02'},
        {'이름':'임꺽정','나이':40,'생일':'1979-06-12'}]
# data = [{'이름':'홍길동','나이':20,'생일':datetime(1999,10,10)},
#         {'이름':'이순신','나이':30,'생일':datetime(1989,3,2)},
#         {'이름':'임꺽정','나이':40,'생일':datetime(1979,6,12)}]

df = pd.DataFrame(data)
df

    이름  나이          생일
0  홍길동  20  1999-10-10
1  이순신  30  1989-03-02
2  임꺽정  40  1979-06-12

In [19]:
df['생일'] = pd.to_datetime( df['생일'] ) 
#년-월-일 시:분:초
#년/월/일
#년.월.일

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      3 non-null      object
 1   나이      3 non-null      int64
 2   생일      3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 200.0+ bytes

In [14]:
df[ df['생일']< '1990-01-01' ]

    이름  나이         생일
1  이순신  30 1989-03-02
2  임꺽정  40 1979-06-12

In [20]:
df.set_index('생일',inplace=True)

In [21]:
df

             이름  나이
생일
1999-10-10  홍길동  20
1989-03-02  이순신  30
1979-06-12  임꺽정  40

In [22]:
df.index

DatetimeIndex(['1999-10-10', '1989-03-02', '1979-06-12'], dtype='datetime64[ns]', name='생일', freq=None)