In [ ]:
#생성,추가, 수정, 삭제,검색, 정렬

In [1]:
import pandas as pd
import numpy as np

In [29]:
data = [10,20,30,40,50]
sr = pd.Series(data, index=['a','b','c','d','e'],name='kor')
sr

a    10
b    20
c    30
d    40
e    50
Name: kor, dtype: int64

In [3]:
sr[0] # sr['a'], sr.iloc[0], sr.loc['a']

10

In [4]:
sr[0] = 100
# sr['a'] = 100

In [7]:
sr[1:4] =[1,2,3] #sr['b':'d'] =[1,2,3]

In [9]:
sr[1:4] = sr[1:4] +2

In [14]:
# 30이상인데이터에 5를 더한 값으로 수정하시요
sr[ sr>=30 ] =sr[ sr>=30 ]+5

In [16]:
sr['f'] =100 #인덱스가 있으면 수정 없으면 추가

In [21]:
# sr.drop(인덱스 )
sr = sr.drop( 'a')

In [25]:
sr.drop( 'a',inplace=True)

In [27]:
sr.drop( ['b','d'] )

c    30
e    50
Name: kor, dtype: int64

In [31]:
sr[0] = 100
sr

a    100
b     20
c     30
d     40
e     50
Name: kor, dtype: int64

In [33]:
sr.sort_values()

b     20
c     30
d     40
e     50
a    100
Name: kor, dtype: int64

In [35]:
sr.sort_values(ascending=False)

a    100
e     50
d     40
c     30
b     20
Name: kor, dtype: int64

In [37]:
sr.sort_index(ascending=False)

e     50
d     40
c     30
b     20
a    100
Name: kor, dtype: int64

In [34]:
sr

a    100
b     20
c     30
d     40
e     50
Name: kor, dtype: int64